$black:#262626;
$green:#82B440;
$lightBlue:#355C7D;
$ligthBlack:#757575;
$textBlack:#3F4944;
$hoverGreen:#7aa93c;
$hoverBlack:#86999b;
$red:#D95B43;
$blueBtnHover:#d95b43;
$inputBg:#f2f2f2;
$registerBg:#f9f9f9;
$titleBlack:#2C2C2C;
$titleBorder:#F4F4F4;
$teamJob:#404040;
$gray-title:#739CBF;