@font-face {
    font-family: 'Crete Round';
    src: url('CreteRound-Italic.eot');
    src: url('CreteRound-Italic.eot?#iefix') format('embedded-opentype'),
        url('CreteRound-Italic.woff2') format('woff2'),
        url('CreteRound-Italic.woff') format('woff'),
        url('CreteRound-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crete Round';
    src: url('CreteRound-Regular.eot');
    src: url('CreteRound-Regular.eot?#iefix') format('embedded-opentype'),
        url('CreteRound-Regular.woff2') format('woff2'),
        url('CreteRound-Regular.woff') format('woff'),
        url('CreteRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

