@use "../abstracts/variables";

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;


    .header-center {
        background: variables.$lightBlue;
        padding: 13px 0;

        .header-center__content {
            .header-center__left {
                a {
                    text-decoration: underline;
                    transition: all .3s ease;

                    &:hover {
                        color: variables.$hoverBlack;
                    }
                }
            }

            display: flex;
            justify-content: space-between;

            p,
            p a {
                color: #FFF;
                font-size: 14px;
                line-height: 18px;

            }

            .header-center__right {
                color: #fff;
                transition: all .3s ease;
                &:hover{
                    color: variables.$hoverBlack;
                }
            }
        }

    }

    .header-bottom {
        .header-bottom__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header-navigation {
            display: flex;
            list-style: none;
            justify-content: end;
            width: 100%;
            gap: 10px;
            &.open{
                right: 0;
            }
            .header-item {
                width: fit-content;
                height: 34px;
                display: flex;

                .header-link {
                    color: variables.$textBlack;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    text-transform: uppercase;
                    padding: 9px 20px;
                    transition: all .3s ease;

                    &:hover {
                        color: #fff;
                        background: variables.$red;
                        border-radius: 10px;
                    }

                    &.active {
                        color: #fff;
                        background: variables.$red;
                        border-radius: 10px;
                    }
                }

            }
        }

        .menu-burger {
            display: none;
            position: relative;
            z-index: 50;
            align-items: center;
            justify-content: end;
            padding: 0;
            width: 50px;
            height: 30px;
            position: relative;

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                transition: all 0.3s linear;
                height: 3px;
                background-color: #3C606F;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active .burger-menu {
                transform: scale(0);
            }

            &.active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0, -50%);
                transition: all 0.3s linear;
                background: variables.$lightBlue;
            }
            &.active::after {
                top: 44%;
                transform: rotate(45deg) translate(0, 50%);
                transition: all 0.3s linear;
                background: variables.$lightBlue;
            }

            .burger-menu {
                height: 3px;
                width: 100%;
                transition: all 0.3s linear;
                transform: scale(1);
                background-color: variables.$lightBlue;
            }
        }
    }

}