@use "./header";
@use "./footer";
@use "../abstracts/variables";

.title-box {
    display: flex;
    align-items: center;
    gap: 20px;

    h3 {
        color: variables.$titleBlack;
        font-family: "Crete Round";
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .title-border {
        border-bottom: 1px solid variables.$titleBorder;
        width: 100%;
    }
}

.main-intro {
    .main-intro__bg {
        background: url("../images/main-intro-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 630px;
    }

    .intro-register {
        background: variables.$registerBg;
        border-bottom: 5px solid variables.$inputBg;
        padding: 30px 15px;

        h4 {
            color: variables.$lightBlue;
            font-family: "Crete Round";
            font-size: 22px;
            font-weight: 400;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .register-inputs {
            display: flex;
            justify-content: space-between;
            gap: 20px;

        }

        input,
        input::placeholder {
            color: variables.$ligthBlack;
            font-size: 14px;
            font-weight: 400;
        }

        input {
            padding: 14px 12px;
            width: 100%;
            border-radius: 5px;
            background: variables.$inputBg;
            border: none;
            outline: none;
        }

        .blue-button {
            padding: 14px 15px;

        }
    }
}

.testimonial-section {
    background: #fff;
    padding: 60px 0 82px 0;

    .service-contents {
        display: flex;
        justify-content: space-between;

        .service-content {
            text-align: center;
            width: 23.41%;
            margin: 0px 0px 0px 2%;

            &:hover h3 {
                color: variables.$red;
            }

            img {
                transition: all .2s ease;
            }

            &:hover img {
                transform: rotate(30deg);
            }

            &:first-child {
                margin-left: 0;
            }

            h3 {
                color: variables.$lightBlue;
                font-family: "Crete Round";
                font-size: 20px;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                margin: 29px 0 13px;
                transition: all .2s ease;
            }

            h4 {
                color: variables.$textBlack;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                margin-bottom: 39px;
            }

            p {
                color: variables.$hoverBlack;
                font-size: 14px;
                line-height: 28px;
            }

            img {
                object-fit: cover;
            }
        }
    }

    .our-team {
        margin-top: 67px;

        .team-boxes {
            display: flex;
            justify-content: space-between;
            gap: 23px;
            margin-top: 50px;

            .team-box {
                border-right: 1px solid #F2F1F2;
                border-bottom: 1px solid #F2F1F2;
                border-left: 1px solid #F2F1F2;
                position: relative;

                .member-image {
                    height: 274px;
                }

                &:hover {
                    .team-member__name {
                        color: variables.$red;
                    }

                    .member-image {
                        &::before {
                            visibility: visible;
                            opacity: .7;
                        }
                    }
                }

                .member-image {
                    position: relative;
                    overflow: hidden;

                    &::before {
                        width: 100%;
                        height: 100%;
                        opacity: .7;
                        border-radius: 5px 5px 0 0;
                        transition: all .3s linear;
                        content: "";
                        position: absolute;
                        background: variables.$lightBlue;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            .team-box__content {
                text-align: center;
                padding: 15px 0 12px;
                border-radius: 5px;
                border-bottom: 2px solid #F4F4F4;
                background: #FFF;

                .team-member__name {
                    color: variables.$lightBlue;
                    font-family: "Crete Round";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                }

                .team-member__job {
                    color: variables.$teamJob;
                    font-size: 13px;
                    line-height: 24px;
                }


            }
        }
    }
}

.team-box:hover {
    .member-socials {
        opacity: 1;
        visibility: visible;
    }
}

.member-socials {
    gap: 20px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    display: flex;
    transition: all 0.3s linear;
    top: -300px;
    position: absolute;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);

    .member-social__bg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        background: #fff;
        transition: all .3s linear;

        &:hover {
            background: variables.$red;
        }

        &:hover {
            svg {
                path {
                    fill: #fff;
                }
            }
        }

        svg {
            width: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 14px;

            path {
                transition: all .3s linear;
            }
        }
    }
}