@use "../abstracts/variables";
@media (max-width:1260px) {
    .container {
        max-width: 1000px;
    }

    .our-blog .blogs-card {
        width: 100%;

        .blogs-card__box {
            width: 100%;
        }
    }

    .our-blog .blogs-card__box___img img {
        width: 100%;
        height: 100%;
    }

    .header .header-bottom .header-navigation .header-link {
        font-size: 13px;

    }
}

@media (max-width:1050px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:992px) {
    .header .header-center .header-center__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    .header .header-center .header-center__content .header-center__right a:hover {
        color: unset;
    }

    .header .header-bottom .header-navigation {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        position: fixed;
        right: -110%;
        z-index: 50;
        bottom: 0;
        top: 140px;
        background: variables.$lightBlue;
        height: 100%;
        margin-left: -20px;
        justify-content: start;
        padding-top: 50px;
        transition: all 0.3s ease;
        align-items: center;
    }
    .testimonial-section .our-team .team-boxes{
        margin-top: 40px;
    }

    .main-intro .intro-register h4 {
        font-size: 19px;
        line-height: 24px;
    }

    .testimonial-section .service-contents .service-content h3 {
        font-size: 18px;
        line-height: 23px;
    }

    .testimonial-section .service-contents .service-content h4 {
        font-size: 14px;
    }

    .testimonial-section .service-contents .service-content p {
        font-size: 13px;
    }

    .title-box h3 {
        font-size: 20px;
    }
    .tabs-section .tabs-contents{
        border-top: none;
    }
    .tabs-section .tabs-contents .tabs-content {
        flex-direction: column;
        row-gap: 30px;
    }

    .tabs-section .tabs-contents .tabs-content .tabs-content__img {
        text-align: center;
    }

    .header-bottom .header-logo {
        width: 170px;
        height: 97px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .read-more__title {
        font-size: 18px;
    }

    .read-more .container .read-more__desc {
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 12px;
    }

    .blue-button {
        font-size: 13px;
    }

    .footer-cards {
        flex-direction: column;

        .footer-card {
            width: 100%;
            padding-bottom: 23px;
            max-width: unset;
            border-bottom: 1px solid variables.$hoverBlack;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .footer-cards .footer-card.big-card {
        max-width: unset;
    }

    .footer-cards .footer-card__title {
        margin-bottom: 25px;
    }

    .read-more {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-bottom {
        margin-top: 32px;
    }

    .swiper-btns div {
        height: 100%;
    }

    .courses {
        padding-top: 50px;
    }

    .events .swiper-slide .swiper-info {
        gap: 15px;
    }

    .events .swiper-slide .swiper-title__name {
        font-size: 17px;
    }

    .header .header-bottom .header-navigation .header-item .header-link:hover {
        color: #fff;
        background: none;
    }

    .header .header-bottom .header-navigation .header-item .header-link.active {
        color: #fff;
        background: none;
    }

    .header .header-bottom .header-navigation .header-item .header-link {
        color: #fff;
    }
    .header .header-bottom .menu-burger{
        display: flex;
    }
}

@media (max-width:768px) {
    .courses {
        padding-top: 30px;
    }

    .main-intro .intro-register .register-inputs {
        flex-direction: column;
    }

    .testimonial-section .service-contents .service-content h4 {
        margin-bottom: 20px;
    }

    .testimonial-section .service-contents .service-content h3 {
        margin-top: 20px;
    }

    .title-box h3 {
        font-size: 18px;
    }

    .users-section .users {
        flex-direction: column;
        row-gap: 20px;
    }

    .users-section .users-card {
        padding-bottom: 25px;
        border-bottom: 1px solid #fff;
        margin-left: -20px;
        margin-right: -20px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    .blogSwiper .swiper-info__title {
        font-size: 16px;
    }

    .blogSwiper .swiper-info__subtitle {
        font-size: 12px;
    }

    .tabs-section .tab-links {
        flex-direction: column;
        border: 1px solid #f2f2f2;
    }

    .tabs-section .tab-links .tab-link {
        padding: 10px;
        font-size: 13px;
        border-left: none;
        border-right: none;
        border-radius: 0;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
        &.active{
            border-bottom: 2px solid #355C7D;
        }
    }

    .tabs-section .tabs-contents .tabs-info__desc {
        line-height: 20px;
        font-size: 12px;
    }

    .tabs-section .tabs-content__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .read-more {
        margin-top: 40px;
        margin-bottom: 30px;

        .container {
            padding-top: 35px;
            padding-bottom: 30px;

            .read-more__desc {
                margin-top: 10px;
                margin-bottom: 25px;
                font-size: 13px;
            }
        }
    }

    .footerTop-link {
        font-size: 12px;
        padding: 0 8px;
        &:last-child{
            padding-right: 0;
        }
    }
    .read-more__title {
        font-size: 16px;
    }

    .blue-button {
        font-size: 12px;
    }

    .read-more .container .read-more__desc {
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 8px;
    }

    .footer-bottom {
        margin-top: 25px;
    }

    .courses .title-box {
        margin-bottom: 30px;
    }

    .events .swiper-slide .swiper-info {
        gap: 10px;
    }

    .events .swiper-slide .swiper-info__desc {
        font-size: 12px;
        line-height: 20px;
    }

    .events .swiper-slide .swiper-title__name {
        font-size: 14px;
    }

    .events .swiper-slide {
        gap: 10px;
    }

    .events .swiper-slide .swiper-title__date {
        font-size: 12px;
    }

    .our-blog .blogs-card {
        flex-direction: column;
    }

    .our-blog .blogs-card__details {
        width: fit-content;
        flex-direction: row;
        gap: 4px;
    }
    .our-blog .blogs-card__details .details-comments{
        border-radius:5px 5px 0px 0px;
    }

    .our-blog .blogs-card {
        gap: 0;
    }

    .our-blog .blogs {
        gap: 50px;
    }

    .header-bottom .header-logo {
        width: 120px;
        height: 70px;
    }

    .our-blog .blogs-card__box .blogs-info__desc {
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .footerTop .footerTop-links {
        justify-content: center;
        column-gap: 0;
    }
    .header .header-bottom .header-navigation{
        height: 82.5%;
    }
}

@media (max-width:570px) {
    .footer-cards .footer-card__logo {
        gap: 10px;
    }

    .footer-cards .footer-card__logo___desc {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-cards .footer-card__logo {
        align-items: center;
    }

    .footer-cards .footer-card {
        padding-bottom: 15px;
    }

    .footerTop {
        padding-top: 0;
    }

    .footer-bottom .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .footer-bottom .footer-links__bottom:first-child {
        padding-left: 0;
    }

    .events .swiper-slide .swiper-title {
        flex-direction: column;
        align-items: start;
    }
    .header .header-bottom .menu-burger{
        width: 40px;
        height: 30px;
    }
}